.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 20px;
  margin: 40px 0 20px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
}

#email,
#new_password,
#new_password_confirmation {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #abe8db;
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 350px;
  display: flex;
  justify-content: center;
}

.register {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #2a3455;
  color: white;
  font-size: 16px;
}
