.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.mainProfileImage {
  position: relative;
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  margin: 80px auto 50px;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #2f3d6b;
  object-fit: cover;
}

.plusButton {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2f3d6b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}
.deleteButton {
  position: absolute;
  right: 90px;
  bottom: 80px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2f3d6b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.subImages {
  position: relative;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.subImage {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid #2f3d6b;
  object-fit: cover;
}

.introductionText {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.introductionText input {
  width: 80%;
  max-width: 700px;
  height: 200px;
  border: 1px solid #222;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
}

.profileDetail {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 40px;
  border-top: #abe8db solid 2px;
  border-bottom: #abe8db solid 2px;
}

.profileDetail > p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: #333;
}

.profileInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.profileInput p {
  width: 35%;
  font-size: 18px;
  color: #333;
}

.profileInput input {
  width: 40%;
}
.profileInput select {
  width: 60%;
}
.profileInput input,
.profileInput select {
  height: 35px;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 18px;
  background-color: white;
  color: #333;
  outline: none;
}

button {
  display: block;
  width: 250px;
  height: 60px;
  margin: 20px auto 10px auto;
  border: none;
  border-radius: 30px;
  background-color: #2f3d6b;
  color: white;
  font-size: 20px;
}

.buttonGroup {
  margin-bottom: 120px;
}
button:hover {
  opacity: 0.8;
}
