:root {
    /* ==========================================================================
       1. ベース（背景とテキスト）
       ========================================================================== */
    /* テキストの基本色（通常のテキスト） */
    --color-text-main: #000000;       
    
    /* サブテキストの色（補足説明、投稿日時など） */
    --color-text-sub: #696969;        
  
    /* アプリ全体のメイン背景色（ベージュ系） */
    --color-bg-base: #F8F4E6;         
  
    /* ナビゲーション等の背景色 */
    --color-bg-surface: #FFFDFD;      
  
  
    /* ==========================================================================
       2. ブランド / アクセント（ボタン、自分側のチャットなど）
       ========================================================================== */
    /* メインのアクセント色 */
    --color-primary: #ABE8DB;
    
    /* サブのアクセント色 */
    --color-secondary: #2A3455;

    /* エラー時の色 */
    --color-danger: #d93025;
  
  
    /* ==========================================================================
       3. チャット / コンポーネント固有
       ========================================================================== */
    /* 相手側のチャットバブル（グレー系） */
    --color-neutral: #D9D9D9; 
    --color-neutral-light: #EBEBEB; 

   /* ==========================================================================
     4. フォント
     ========================================================================== */
   --font-family-base: 'Klee One', cursive;
  }