.back {
  width: 40px;
  height: 40px;
  background: transparent;
  margin: 10px;
}

.like_button {
  position: fixed;
  right: 10px;
  bottom: 70px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  z-index: 1000;
}

.likeButton {
  position: fixed;
  right: 10px;
  bottom: 90px; /* bottomNavの高さ(80px) + ボタンの高さ(10px) */
  cursor: pointer;
  z-index: 1000;
}
